<b>Import library

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

<b>Memanggil dataset dan menampilkan

In [2]:
df = pd.read_csv('CarRentalData.csv')
df.head()

,fuelType,rating,renterTripsTaken,reviewCount,location.city,location.country,location.latitude,location.longitude,location.state,owner.id,rate.daily,vehicle.make,vehicle.model,vehicle.type,vehicle.year
0,ELECTRIC,5.00,13,12,Seattle,US,47.449107,-122.308841,WA,12847615,135,Tesla,Model X,suv,2019
1,ELECTRIC,5.00,2,1,Tijeras,US,35.111060,-106.276551,NM,15621242,190,Tesla,Model X,suv,2018
2,HYBRID,4.92,28,24,Albuquerque,US,35.127163,-106.566681,NM,10199256,35,Toyota,Prius,car,2012
3,GASOLINE,5.00,21,20,Albuquerque,US,35.149726,-106.711425,NM,9365496,75,Ford,Mustang,car,2018
4,GASOLINE,5.00,3,1,Albuquerque,US,35.208659,-106.601008,NM,3553565,47,Chrysler,Sebring,car,2010

<b> CLEANING DATA SESUAI REKOMENDASI

In [3]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

In [5]:
df.isna().sum()

fuelType               75
rating                501
renterTripsTaken        0
reviewCount             0
location.city           0
location.country        0
location.latitude       0
location.longitude      0
location.state          0
owner.id                0
rate.daily              0
vehicle.make            0
vehicle.model           0
vehicle.type            0
vehicle.year            0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5851 entries, 0 to 5850
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fuelType            5776 non-null   object
 1   rating              5350 non-null   float64
 2   renterTripsTaken    5851 non-null   int64
 3   reviewCount         5851 non-null   int64
 4   location.city       5851 non-null   object
 5   location.country    5851 non-null   object
 6   location.latitude   5851 non-null   float64
 7   location.longitude  5851 non-null   float64
 8   location.state      5851 non-null   object
 9   owner.id            5851 non-null   int64
 10  rate.daily          5851 non-null   int64
 11  vehicle.make        5851 non-null   object
 12  vehicle.model       5851 non-null   object
 13  vehicle.type        5851 non-null   object
 14  vehicle.year        5851 non-null   int64
dtypes: float64(3), int64(5), object(7)
memory usage: 685.8+ KB

In [7]:
df['fuelType'] = imputer_modus.fit_transform(df[['fuelType']])

df.isna().sum()

fuelType                0
rating                501
renterTripsTaken        0
reviewCount             0
location.city           0
location.country        0
location.latitude       0
location.longitude      0
location.state          0
owner.id                0
rate.daily              0
vehicle.make            0
vehicle.model           0
vehicle.type            0
vehicle.year            0
dtype: int64

In [9]:
df['rating'] = imputer_mean.fit_transform(df[['rating']])

df.isna().sum()

fuelType              0
rating                0
renterTripsTaken      0
reviewCount           0
location.city         0
location.country      0
location.latitude     0
location.longitude    0
location.state        0
owner.id              0
rate.daily            0
vehicle.make          0
vehicle.model         0
vehicle.type          0
vehicle.year          0
dtype: int64

In [7]:
df.dropna(inplace=True)

df.isna().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

<b> KNN

In [11]:
df.head(5)

,fuelType,rating,renterTripsTaken,reviewCount,location.city,location.country,location.latitude,location.longitude,location.state,owner.id,rate.daily,vehicle.make,vehicle.model,vehicle.type,vehicle.year
0,ELECTRIC,5.00,13,12,Seattle,US,47.449107,-122.308841,WA,12847615,135,Tesla,Model X,suv,2019
1,ELECTRIC,5.00,2,1,Tijeras,US,35.111060,-106.276551,NM,15621242,190,Tesla,Model X,suv,2018
2,HYBRID,4.92,28,24,Albuquerque,US,35.127163,-106.566681,NM,10199256,35,Toyota,Prius,car,2012
3,GASOLINE,5.00,21,20,Albuquerque,US,35.149726,-106.711425,NM,9365496,75,Ford,Mustang,car,2018
4,GASOLINE,5.00,3,1,Albuquerque,US,35.208659,-106.601008,NM,3553565,47,Chrysler,Sebring,car,2010

In [12]:
x = df[['rating', 'renterTripsTaken', 'reviewCount']]
y = df[['fuelType']]

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0, test_size=.3)

In [13]:
classifier = KNeighborsClassifier(n_neighbors = 7)

classifier.fit(x_train,y_train)

c:\Users\WINDOWS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\neighbors\_classification.py:207: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=7)

In [14]:
predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

<b> Hasil prediksi dan akurasi

In [15]:
print(f'hasil prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'akurasi: {accuracy}',
     sep = '\n'
)

hasil prediksi: ['GASOLINE' 'GASOLINE' 'GASOLINE' ... 'GASOLINE' 'GASOLINE' 'GASOLINE']
Class:       fuelType
1270  ELECTRIC
5499  GASOLINE
2036  GASOLINE
1519  GASOLINE
3055  GASOLINE
...        ...
3126  GASOLINE
1819  GASOLINE
5558  ELECTRIC
514   GASOLINE
1678  GASOLINE

[1756 rows x 1 columns]
akurasi: 0.8189066059225513

<b>NAIVE BAYES

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1, shuffle=False, stratify=None)

In [18]:
classNB = GaussianNB()

classNB.fit(x_train,y_train)

c:\Users\WINDOWS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [19]:
predicted_valueNB = classNB.predict(x_test)
accuracyNB = accuracy_score(y_test, predicted_valueNB)

<b> Menampilkan hasil prediksi dan akurasi

In [20]:
print(f'hasil prediksi: {predicted_valueNB}',
     f'Class: {y_test}',
     f'akurasi: {accuracyNB}',
     sep = '\n'
)

hasil prediksi: ['GASOLINE']
Class:       fuelType
5850  GASOLINE
akurasi: 1.0

In [21]:
classNB.score(x_test,y_test)

1.0